# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
.pytest_cache/
.ipynb_checkpoints/
*.log

# Large Datasets
dataset/
loi/
dataset_loi/

# Dataset archives
*.npz

# Operating System Files
.DS_Store
Thumbs.db
